{:role {:badge {}},
 :rel {:badge {}},
 :started {:badge {}},
 :features {:badge {}},
 :healthdev {:badge {}},
 :category {:badge {}},
 :tags {:badge {}},
 :rdf.type {:badge {}},
 :customer-since {:attribute {}},
 :attribute {:attribute {}},
 :email {:badge {}},
 :date {:badge {}},
 :github {:link-badge {}},
 :may-help {:badge {}},
 :Product {:badge {}},
 :implemented-by {:badge {}},
 :organized.payments {:attribute {}},
 :challenging {:attribute {}},
 :todo.due-date {:badge {}},
 :zulip:messages {:link-badge {}},
 :like {:badge {}},
 :Modules {:badge {}},
 :site {:link-badge {}},
 :healthdev-slack {:badge {}},
 :community {:badge {}},
 :talk-with {:badge {}},
 :other-companies {:badge {}},
 :funding/num {:badge {}},
 :logo {:hide {}},
 :potential {:attribute {}},
 :org-stack {:badge {}},
 :participants {:badge {}},
 :num-eployees {:badge {}},
 :interesting&challenging {:attribute {}},
 :project-for {:badge {}},
 :works-for {:badge {}},
 :sales-cycle {:attribute {}},
 :subcategory {:badge {}},
 :linkedin.employees {:badge {}},
 :interview-plan {:link-badge {}},
 :customer-of {:badge {}},
 :start {:badge {}},
 :release {:badge {}},
 :about-feature {:badge {}},
 :related-to {:badge {}},
 :type {:badge {}},
 :related {:badge {}},
 :part-of {:badge {}},
 :icon {:none {}},
 :post-about {:badge {}},
 :segments {:badge {}},
 :acquired-by {:badge {}},
 :partners {:badge {}},
 :rdfs.subClassOf {:badge {}},
 :serves {:badge {}},
 :interested {:badge {}},
 :leaders {:badge {}},
 :num-employees {:badge {}},
 :author {:badge {}},
 :funding {:badge {}},
 :member {:badge {}},
 :Respondent {:badge {}},
 :easy-to-work {:attribute {}},
 :similar {:badge {}},
 :regulator {:badge {}},
 :event {:badge {}},
 :draft {:link-badge {}},
 :leader {:badge {}},
 :techstack-match {:attribute {}},
 :excompany {:badge {}},
 :segment {:badge {}},
 :link {:link-badge {}},
 :due-date {:badge {}},
 :feautres {:badge {}},
 :url {:link-badge {}},
 :promotes {:badge {}},
 :companies {:badge {}},
 :lead {:badge {}},
 :proactive.feedback {:attribute {}},
 :sponsors {:badge {}},
 :domain {:badge {}},
 :end {:badge {}},
 :sells-to {:badge {}},
 :work-with {:badge {}},
 :telegram-discussions {:link-badge {}},
 :usecase-of {:badge {}},
 :badge {:badge {}},
 :telegram {:link-badge {}},
 :authors {:badge {}},
 :location {:badge {}},
 :stackholders {:badge {}},
 :page/width {:badge {}},
 :menu-order {:none {}},
 :linkedin.followers {:badge {}},
 :meet-with {:badge {}},
 :country {:badge {}},
 :subject {:badge {}},
 :based-on {:badge {}},
 :fhir-users {:badge {}},
 :published {:badge {}},
 :preferred-channel {:badge {}}}

