{:role {:block :badge},
 :tags {:block :badge}
 :rel {:block :badge},
 :started {:block :badge},
 :healthdev {:block :badge},
 :category {:block :badge},
 :features {:block :badge},
 :rdf.type {:block :badge},
 :customer-since {:block :attribute},
 :attribute {:block :attribute},
 :email {:block :badge},
 :date {:block :badge},
 :github {:block :link-badge},
 :may-help {:block :badge},
 :Product {:block :badge},
 :implemented-by {:block :badge},
 :organized.payments {:block :attribute},
 :challenging {:block :attribute},
 :todo.due-date {:block :badge},
 :zulip:messages {:block :link-badge},
 :like {:block :badge},
 :Modules {:block :badge},
 :site {:block :link-badge},
 :healthdev-slack {:block :badge},
 :community {:block :badge},
 :talk-with {:block :badge},
 :other-companies {:block :badge},
 :funding/num {:block :badge},
 :logo {:block :none},
 :potential {:block :attribute},
 :org-stack {:block :badge},
 :participants {:block :badge},
 :num-eployees {:block :badge},
 :interesting&challenging {:block :attribute},
 :project-for {:block :badge},
 :works-for {:block :badge},
 :sales-cycle {:block :attribute},
 :subcategory {:block :badge},
 :linkedin.employees {:block :badge},
 :interview-plan {:block :link-badge},
 :customer-of {:block :badge},
 :start {:block :badge},
 :release {:block :badge},
 :about-feature {:block :badge},
 :related-to {:block :badge},
 :type {:block :badge},
 :related {:block :badge},
 :part-of {:block :badge},
 :icon {:block :none},
 :post-about {:block :badge},
 :segments {:block :badge},
 :acquired-by {:block :badge},
 :partners {:block :badge},
 :rdfs.subClassOf {:block :badge},
 :serves {:block :badge},
 :interested {:block :badge},
 :leaders {:block :badge},
 :num-employees {:block :badge},
 :author {:block :badge},
 :funding {:block :badge},
 :member {:block :badge},
 :Respondent {:block :badge},
 :easy-to-work {:block :attribute},
 :similar {:block :badge},
 :regulator {:block :badge},
 :event {:block :badge},
 :draft {:block :link-badge},
 :leader {:block :badge},
 :techstack-match {:block :attribute},
 :excompany {:block :badge},
 :segment {:block :badge},
 :link {:block :link-badge},
 :due-date {:block :badge},
 :feautres {:block :badge},
 :url {:block :link-badge},
 :promotes {:block :badge},
 :companies {:block :badge},
 :lead {:block :badge},
 :proactive.feedback {:block :attribute},
 :sponsors {:block :badge},
 :domain {:block :badge},
 :end {:block :badge},
 :sells-to {:block :badge},
 :work-with {:block :badge},
 :telegram-discussions {:block :link-badge},
 :usecase-of {:block :badge},
 :badge {:block :badge},
 :telegram {:block :link-badge},
 :authors {:block :badge},
 :location {:block :badge},
 :stackholders {:block :badge},
 :page/width {:block :badge},
 :menu-order {:block :none},
 :linkedin.followers {:block :badge},
 :meet-with {:block :badge},
 :country {:block :badge},
 :subject {:block :badge},
 :based-on {:block :badge},
 :fhir-users {:block :badge},
 :published {:block :badge},
 :preferred-channel {:block :badge}}
