{:ns zd.test-system
 :import #{zen-web zd}

 zendoc
 {:zen/tags #{zen/start zd/config}
  :engine zd/document-engine
  :paths ["test/zd/tdocs"]
  :layout zd/sidebar}

 serve-static
 {:zen/tags #{zen/op zen-web/op}
  :engine zen-web.engines/serve-static
  :serve ["src"]}

 api
 {:zen/tags #{zen-web/api}
  :engine zen-web/routemap
  :apis [zd/api]
  "static" {:* {:GET serve-static}}}

 http
 {:zen/tags #{zen/start zen-web/http}
  :engine zen-web/httpkit
  :port 4444
  :api api}

 system
 {:zen/tags #{zen/system}
  :start [zendoc http]}}
