{:deps  {}
 :tasks {:requires    ([babashka.fs :as fs])
         :init        (do)
         :enter       (do)
         :leave       (do)

         repl         {:doc  "Run Clojure repl for Emacs with cider"
                       :task (clojure "-M:nrepl")}

         test         {:doc  "Run tests"
                       :task (clojure (str "-M:kaocha " (apply str (interpose " " *command-line-args*))))}}}
