{:paths       ["zrc" "src"]
 :deps        {org.clojure/clojure       {:mvn/version "1.10.3"}
               borkdude/edamame          {:mvn/version "0.0.18"}
               cheshire/cheshire         {:mvn/version "5.10.0"}
               clj-commons/clj-yaml      {:mvn/version "0.7.106"}
               clj-time/clj-time         {:mvn/version "0.15.2"}
               hawk/hawk                 {:mvn/version "0.2.11"}
               hiccup/hiccup             {:mvn/version "2.0.0-alpha2"}
               http-kit/http-kit         {:mvn/version "2.5.3"}
               markdown-clj/markdown-clj {:mvn/version "1.10.5"}
               org.clojure/data.xml      {:mvn/version "0.2.0-alpha6"}
               org.clojure/java.jdbc     {:mvn/version "0.7.12"}
               org.postgresql/postgresql {:mvn/version "42.2.22.jre7"}
               org.babashka/sci          {:mvn/version "0.2.8"}
               ring/ring                 {:mvn/version "1.9.3"}
               ring/ring-defaults        {:mvn/version "0.3.3"}
               stylo/stylo               {:git/url "https://github.com/HealthSamurai/macrocss" :sha "1d0cba81d545bc30a42f64f0e65ee4c2ae4d9767"}
               zen-lang/zen              {:git/url "https://github.com/zen-lang/zen" :sha "a376f197902330473cf688eb3ff02f69094677de"}
               }
 :aliases
 {:nrepl {:extra-paths ["dev" "docs" "test"]
          :extra-deps  {refactor-nrepl/refactor-nrepl       {:mvn/version "2.5.1"}
                        cider/cider-nrepl                   {:mvn/version "LATEST"}
                        healthsamurai/matcho                {:mvn/version "0.3.8"}
                        hashp/hashp                         {:mvn/version "0.2.1"}
                        zprint/zprint                       {:mvn/version "1.1.2"}}
          :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
          :main-opts   ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  
  :test {:extra-paths ["test" "test-ui" "resources"]}

  :kaocha
  {:extra-deps  {lambdaisland/kaocha         {:mvn/version "1.0.861"}}
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}

  :build
  {:extra-paths ["build"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps
   {io.github.clojure/tools.build {:git/url "https://github.com/HealthSamurai/tools.build"
                                   :sha "ae0f233d380fbbf920d01690e63adf6253bc313e"}}}}}
