{:paths       ["zrc" "src"]
 :deps        {org.clojure/clojure             {:mvn/version "1.10.3"}
               hiccup/hiccup                   {:mvn/version "2.0.0-alpha2"}
               zen-lang/zen                    {:git/url "https://github.com/zen-lang/zen"
                                                :sha "a376f197902330473cf688eb3ff02f69094677de"}

               zen-lang/zen-web                {:local/root "libs/zen-web"}

               borkdude/edamame                {:mvn/version "0.0.11-alpha.16"}
               hawk/hawk                       {:mvn/version "0.2.11"}
               markdown-clj/markdown-clj       {:mvn/version "1.10.5"}
               clj-time/clj-time               {:mvn/version "0.15.2"}

               stylo/stylo                     {:git/url "https://github.com/HealthSamurai/macrocss"
                                                :sha "1d0cba81d545bc30a42f64f0e65ee4c2ae4d9767"}}
 :aliases
 {:nrepl {:extra-paths ["dev" "docs" "test"]
          :extra-deps  {refactor-nrepl/refactor-nrepl       {:mvn/version "2.5.1"}
                        cider/cider-nrepl                   {:mvn/version "LATEST"}
                        healthsamurai/matcho                {:mvn/version "0.3.8"}
                        hashp/hashp                         {:mvn/version "0.2.1"}
                        zprint/zprint                       {:mvn/version "1.1.2"}}
          :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
          :main-opts   ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  
  :test {:extra-paths ["test" "test-ui" "resources"]}

  :kaocha
  {:extra-deps  {lambdaisland/kaocha         {:mvn/version "1.0.861"}}
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}

  :build
  {:extra-paths ["build"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps
   {io.github.clojure/tools.build {:git/url "https://github.com/HealthSamurai/tools.build"
                                   :sha "ae0f233d380fbbf920d01690e63adf6253bc313e"}}}}}
