{:paths ["zrc" "src"]
 :deps  {org.clojure/clojure  {:mvn/version "1.11.1"}
         com.xtdb/xtdb-core                                  {:mvn/version "1.23.2"}
         com.xtdb/xtdb-lucene                                {:mvn/version "1.23.2"}
         borkdude/edamame                                    {:mvn/version "0.0.18"}
         cheshire/cheshire                                   {:mvn/version "5.10.0"}
         clj-commons/clj-yaml                                {:mvn/version "0.7.106"}
         ;; 1.0.1 is fixed for now because it works on java < 11
         clj-jgit/clj-jgit                                   {:mvn/version "1.0.1"}
         clj-time/clj-time                                   {:mvn/version "0.15.2"}
         hiccup/hiccup                                       {:mvn/version "2.0.0-alpha2"}
         markdown-clj/markdown-clj                           {:mvn/version "1.10.5"}
         org.clojure/data.xml                                {:mvn/version "0.2.0-alpha6"}
         org.clojure/data.csv                                {:mvn/version "1.0.1"}
         org.babashka/sci                                    {:mvn/version "0.2.8"}
         stylo/stylo                                         {:git/url "https://github.com/HealthSamurai/macrocss"
                                                              :sha "3423951651da97b533020b4b70a29607c6979508"}
         org.bouncycastle/bcpkix-jdk15on                     {:mvn/version "1.70"}
         zen-lang/zen {:git/url "https://github.com/zen-lang/zen"
                       :sha "caf9ba16124ceff98cddc9ea702d157e16e2cad7"}
         zen-lang/zen-web {:local/root "libs/zen-web"}}
 :aliases
 {:nrepl {:extra-paths ["test"]
          :extra-deps  {cider/cider-nrepl             {:mvn/version "LATEST"}
                        healthsamurai/matcho          {:mvn/version "0.3.8"}}
          :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
          :main-opts   ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"]
   :jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "kaocha.runner"]}}}
