{ns aidbox

 person
 {:zen/tags #{zen/schema zen/tag}
  :type zen/map
  :require #{:name}
  :values {:type zen/any}
  :keys {:name {:type zen/string}
         :mentor {:type zen/symbol
                  #_#_:tags #{person}}}}

 project
 {:zen/tags #{zen/schema zen/tag}
  :type zen/map
  :values {:type zen/any}
  :require #{:name :period}
  :keys {:name {:type zen/string}
         :period {:type zen/map
                  :require #{:start}
                  :keys {:start {:type zen/date}
                         :end {:type zen/date}}}}}

 }
