{ns boxdoc

 markdown
 {:zen/tags #{zen/schema}
  :type zen/map
  :keys {:format {:type zen/string}
         :content {:type zen/string}}}
 doc
 {:zen/tags #{zen/schema}
  :type zen/map
  :keys {:zd/title {:type zen/string}
         :zd/tags {:type zen/set :every {:type zen/symbol}}
         :zd/add-tags {:type zen/set :every {:type zen/symbol}}
         :zd/name {:type zen/symbol}
         :zd/desc {:confirms #{markdown}}}}


 release
 {:zen/tags #{zen/tag zen/schema}}

 comp
 {:zen/desc "Aidbox Component"
  :zen/tags #{zen/schema}
  :type zen/map
  :confirms #{doc}
  :require #{:summary :status :started-at :authors :release}
  :keys {:authors    {:type zen/set :every {:type zen/symbol}}
         :related-to {:type zen/set :every {:type zen/symbol}}
         :release    {:type zen/string}
         :status  {:type zen/keyword :enum [{:value :draft} {:value :released}]}
         :phase  {:type zen/keyword :enum [{:value :dev} {:value :stable} {:value :obsolete}]}
         :started-at {:type zen/datetime}
         :summary {:confirms #{markdown}}
         :first-release {:type zen/symbol :tags #{release}}}}


 cust
 {:zen/desc "Aidbox Customer"
  :zen/tags #{zen/schema}
  :type zen/map
  :confirms #{doc}
  :require #{:summary :status :started-at :support :support-chat}
  :keys {:status  {:type zen/keyword :enum [{:value :pre-sale}
                                            {:value :active}
                                            {:value :hold}
                                            {:value :lost}]}
         :started-at {:type zen/datetime}
         :summary {:confirms #{markdown}}
         :support-chat {:type zen/string}
         :contacts {:type zen/set :every {:type zen/symbol}}
         :support {:type zen/keyword :enum [{:value :basic}
                                            {:value :professional}
                                            {:value :enterprise}
                                            {:value :project}]}
         :country  {:type zen/string}
         :timezone {:type zen/string}}}

 incident
 {:zen/desc "Incident report"
  :zen/tags #{zen/schema}
  :type zen/map
  :confirms #{doc}
  :require #{}
  :keys {:status  {:type zen/keyword :enum [{:value :active} {:value :hold} {:value :lost}]}
         :started-at {:type zen/datetime}
         :issue {:type zen/string}
         :resolution {:type zen/keyword}}}


 person
 {:zen/desc "Person"
  :zen/tags #{zen/schema zen/tag}
  :type zen/map
  :confirms #{doc}
  :require #{:name :telgram}
  :keys {:name     {:type zen/string}
         :telegram {:type zen/string :zd/annotations {:block :badge}}
         :github   {:type zen/string :zd/annotations {:block :badge}}
         :email    {:type zen/string}
         :phone    {:type zen/string}
         :twitter  {:type zen/string}
         :person/avatar   {:type zen/string}}}


 }
