{ns zd
 import #{zenbox}

 markdown
 {:zen/tags #{zen/schema}
  :type zen/map
  :keys {:format {:type zen/string}
         :content {:type zen/string}}}
 doc
 {:zen/tags #{zen/schema}
  :type zen/map
  :keys {:title {:type zen/string}
         :zd/tags {:type zen/set :every {:type zen/symbol}}
         :zd/add-tags {:type zen/set :every {:type zen/symbol}}
         :zd/name {:type zen/symbol}
         :zd/text {:confirms #{markdown}}
         :zd/summary {:confirms #{markdown}}}}

 render-index
 {:zen/tags #{zenbox/op}}

 render-symbol
 {:zen/tags #{zenbox/op}}

 render-zen
 {:zen/tags #{zenbox/op}}

 render-static
 {:zen/tags #{zenbox/op}}

 api
 {:zen/tags #{zenbox/api},
  :GET {:operation render-symbol}
  [:symbol] {:GET {:operation render-symbol}}
  [:ns] {[:sym] {:GET {:operation render-zen}}}
  [:path*] {:GET {:operation render-static}}}

 server
 {:zen/tags    #{zenbox/server}
  :port        3030
  :apis        #{api}}

 }
